@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Samer Al-Khatib<br />
    Kuwait, Assalmiya<br />
    <abbr title="Phone">P:</abbr>
    +965-98514952<br />
    <abbr title="Email">Email:</abbr>
    samer_mail_2006@yahoo.com
</address>

